@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@font-face {
    font-family: 'Fuente Examen';
    font-style: normal;
    font-weight: 100;
    src: url('fuente-cabecera.ttf');
}
*{
margin: 0;
box-sizing: border-box;
transition-property: scale;
    transition-duration: 300ms;
    scroll-behavior: smooth;
    line-height: 1.6;
}
html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Onest;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;

}
a{
  text-decoration:wavy;  
  color:#ca3c3c;

}
main{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabla{
width: 50vw;
min-width: 1080px;
}
section{
    width: 50vw;
    min-width: 1080px;
}
.barra__nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #ca3c3c;
    justify-content: space-between;
    
    flex-wrap: nowrap;
}
.nav__other-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.barra__nav a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.685);
    
}
.nav__item{
    display: block;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: 500;
    
}
.nav__item__inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__item__inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__item:hover{
    scale: 106%;
    font-weight: 700;
    color: whitesmoke;
}
.footer__pag{
    position: sticky;
    bottom: 0;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #ca3c3c;
    color: whitesmoke;
    padding: 5px 15px 5px 15px;
    
}
table a{
    display: inline-block;
    color: #111;

}
table a:hover{
    scale: 102%;
    font-weight: 400;
    color: #ca3c3c;
}
.cabecera{
    text-align: center;
    padding: 50px;
    background: no-repeat;
    background-image: url("../img/banner-5.jpg");
background-size:contain;
border-bottom: 2px solid #1414148f;
min-width: 1366px;
}
h1{
    display: block;
    font-family: 'Fuente Examen';
    font-weight: 100;
    color: rgba(185, 15, 15, 0.822);
}

.bloque1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: rgb(226, 141, 43);
    text-align: center;
}
.video{
    width: 500px;
    height: 315px;
    margin-top: 20px;
}

table{
    
    width: 10%;
    height: 20%;
    margin: auto;
    text-align: center;
    border-spacing: 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
td{
    padding:30px;
    border-bottom: 2px solid rgba(245, 245, 245, 0.377);
    border-right: 2px solid rgba(245, 245, 245, 0.377);
}
td:nth-child(2n){
    background-color:whitesmoke; 
}
td:nth-child(2n-1){
    background-color:#ca606071; 
}

.horas{
    color: white;
    background-color: #ca3c3c !important; 
    padding: 10px;
    border-right: 2px solid rgba(245, 245, 245, 0.377);
    width: 100px;
}

.programacion{
    background-color: #ebf5fb;
}
.bases_de_datos{
    background-color:#fbeee6
}
.itinerario{
    background-color:#e8f6f3;
}
.lenguajes{ 
    background-color: #f5eef8;
}
.ingles{
    background-color:#ffc7c7;
}
.entornos{
    background-color: #fef9e7;
}
.sistemas{
    background-color: #a9cce3;
}
.hora{
    background-color: rgba(255, 166, 0, 0.418) !important; 
    font-weight: 600;
    color: #ca3c3c  ;
    text-align: center;
    border-bottom: 2px solid rgba(245, 245, 245, 0.377);
}
h3{
    color: #ca3c3c;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}
p{
    margin-bottom: 5px;
    text-align: justify;
}
.ejercicios{
    height: fit-content;
    padding: 20px;
    border: 1px solid;
    margin-top: 30px;
    box-shadow: 5px 5px 1px 1px #9791917e;
    background:linear-gradient(whitesmoke, rgb(238, 178, 178), 80%) ;
}
